/*

colors
------
navigation text: #efefef
navigation hover: #aaa9a9
body text: #1b1b1b
body background: #FFFFFF
footer background: 
text accent: #e00027
link color: #474747

*/

/* 
universal
*/

body {
  font-family: helvetica, sans-serif;
  font-size: 1.65rem;
  font-weight: 100;
  background-color: #FFFFFF;
  color: #1b1b1b;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p, ol {
  line-height: 3rem;
}

iframe {
  margin: 2rem 10%;
  height: 100vh;
  width: 80%;
}

button {
  font-size: 1.8rem;
  padding: 2rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0);
  }
}

button:hover {
  color: #e00027;
  animation-name: floating;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

main iframe {
  width: 100%;
  margin: 0;
}

main a {
  color: #474747;
}

main h1 {
  font-size: 3rem;
}

main > h1 {
  text-align: center;
  text-transform: uppercase;
}

/* 
landingpage
*/

header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/landingpage.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 5rem;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

header nav {
  background-color: transparent;
}

header .profileNav {
  background-color: transparent;
}

.logo {
  max-width: 50rem;
  z-index: 10;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.logo img {
  width: 100%;
}

/*
profile navigation
*/

.profileNav {
  background-color: rgba(17, 16, 16, .8);

}

.profileNav ul {
  direction: rtl;
  margin-right: 2rem;
}

.profileNav ul li {
  display: inline-flex;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.profileNav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: #efefef;
}

/* 
navigation
*/

nav {
  display: grid;
  grid-template-columns: .1fr 1.9fr;  
  padding: 2rem;
  padding-top: 0;
  background-color: rgba(17, 16, 16, .8);
  z-index: 10;
  position: relative;
  vertical-align: middle;
}

nav img {
  grid-column: 1;
  width: 10rem;
}

nav img:hover {
  transform: rotate(10deg);
}

nav i#navButton {
  display: none;
}

nav ul {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  /* flex-shrink: 3; */
}

nav ul li {
  display: inline-block;
}

ul li a:hover {
  color: #aaa9a9;
}

nav ul li a {
  text-decoration: none;
  color: #efefef;
  font-size: 2rem;
  padding: 1rem;
}

/* 
footer
*/

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  background-color: #1b1b1b;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
}

footer h1 {
  margin: 1.5rem;
}

footer>div {
  display: grid;
  align-items: center;
  justify-content: center;
}

footer h1, footer p {
  color: #efefef;
}

footer #contact {
  grid-column: 1;
}

footer a {
  text-decoration: none;
  color: #efefef;
}

footer ul li a {
  color: #efefef;
  text-decoration: none;
  font-size: 1.2rem;
}

footer #socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer #socials h1 {
  grid-column: 1/4;
}

footer #socials i {
  font-size: 3rem;
}

footer #copy {
  grid-column: 1/4;
}

/* 
home page
*/

main {
  width: 50vw;
  margin: 0 auto;
}

main.home h1 {
  text-align: left;
}

main article {
  background-color: #eaece3;
  padding: 3rem;
  margin: 2rem 0;
}

main article a {
  word-break: break-all;
}


main article h1 {
  font-size: 2rem;
  margin: 0;
}

main article #timestamp {
  font-size: 1rem;
}

/* 
afdelingen page
*/

main.afdelingen article {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .3fr 1fr;
  gap: 1rem;
}

main article .afdelingTitle {
  grid-column: 1/3;
}

main article .afdelingTitle h1 {
  color: #e00027;
  margin-bottom: 1rem;
}

main article h3 {
  font-weight: 600;
}

main article .leeftijd {
  font-size: 1.3rem;
}

main article img {
  width: 100%;
}

main article:nth-child(odd) {
  direction: rtl;
}

/* 
TODO: decide alternating left & right : always left
*/

main article:nth-child(odd) .afdelingTitle {
  text-align: right;
}

/* select all childs of odd article */
main article:nth-child(odd) * {
  direction: ltr;
}


/* 
leiding page
*/

main .choice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
  height: 50vh;
}

main .choice a {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

main .choice a h1 {
  display: none;
  color: #efefef;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

main a.jongens {
  background-image: url(../images/leiding/jongensleiding.png);
  background-position-x: left;
  grid-column: 1/3;
}

main .choice a.jongens.show {
  grid-column: 1/4;
}

main .choice a.meisjes.show {
  grid-column: 2/5;
}

main .choice a.meisjes.hide {
  grid-column: 4/5;
}

main .choice a.jongens.hide {
  grid-column: 1/2;
}

main .choice a.show h1 {
  display: initial;
}

main a.meisjes {
  background-image: url(../images/leiding/meisjesleiding.png);
  background-position-x: right;
  background-position-y: center;
  grid-column: 3/5;
}

/*
leiding info page
*/

.leidingInfo h2 {
  text-align: center;
  color: #e00027;
  font-weight: bold;
}

.leidingInfo .q {
  font-weight: 900;
}

.leidingInfo article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: transparent;
  gap: 2rem;
}

.leidingInfo article h3 {
  grid-column: 1/3;
  color: #123E6B;
}

.leidingInfo article .imgContainer {
  display: flex;
}

.leidingInfo article .imgContainer img {
  border-radius: 25px;
  align-self: center;
}

.leidingInfo article .info p {
  line-height: 3.5rem;
}

.leidingInfo article:nth-child(odd) {
  direction: rtl;
}


/*
activiteiten page
*/

main.activiteiten ul {
  list-style-type: disc;
  line-height: 3rem;
  padding: revert;
}

main.activiteiten #btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem;
}

main.activiteiten #btns a {
  padding: 2rem;
}

main.activiteiten #btns a button {
  width: 100%;
}

hr {
  margin: 2rem 5%;
}

/* calendar */

#calendar {
  margin: 0 5%;
  width: 90%;
}

.fc .fc-button {
  font-size: 1.5rem!important;
}
.fc .fc-toolbar-title {
  font-size: 2rem!important;
}

/*
verhuur page
*/

main.verhuur {
  text-align: center;
}

main.verhuur .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

main.verhuur .container article {
  text-align: center;
  margin: 0;
}

main.verhuur .container article img {
  width: 150px;
  height: 150px;
}

main.verhuur .container article h1 {
  margin: 1rem 0;
}

/* 
trooper page
*/

main.trooper h2 {
  font-size: 2.5rem;
  margin: 3rem 0;
  text-align: left;
}

main.trooper .deelnemers {
  text-align: center;
}

main.trooper ul {
  line-height: 3rem;
  columns: 4;
  margin: 2rem 0;
}

/* main.trooper button {
  font-size: 1.8rem;
  padding: 2rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

main.trooper button:hover {
  box-shadow: 3px 3px 3px black;
  color: #e00027;
} */

/* 
gezocht page
*/

main.gezocht p {
  margin-bottom: 2rem;
}

main.gezocht ul {
  list-style: disc;
  line-height: 3rem;
  padding: revert;
}

/* 
tapperskrant page
*/

main.tapperskrant h2 {
  margin: 2rem 0;
}

main.tapperskrant h3 {
  margin: 2rem 0;
}

main.tapperskrant ul {
  columns: 3;
  text-align: center;
  line-height: 3rem;
}

main.tapperskrant .pdfContainer {
  text-align: center;
}

main.tapperskrant #pdfDownload {
  font-size: 4rem;
}

/* 
contact page
*/

main.contact > h2 {
  margin: 4rem 0;
}

main.contact .mail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

main.contact .mail h2 {
  font-size: 2.5rem;
  color: #123E6B;
}

main.contact .mail p a {
  color: #e00027;
}

main.contact .mail p a::before {
  content: "\a";
  white-space: pre;
}

main.contact form {
  margin: 2rem auto;
  width: 75%;
}

main.contact form input,
main.contact form textarea {
  width: 100%;
  margin: .5rem 0 2rem 0;
  padding: .8rem;
}

main.contact form textarea {
  resize: vertical;
}

main.contact form input#submit {
  /* background-color: #123E6B; */
  color: #e00027;
  font-size: 2rem;
}

/*
register,
login,
reset, 
forgot form
*/

form.userActionForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}

form.userActionForm input#captcha {
  grid-column: 2;
}

form.userActionForm input[type=submit] {
  grid-column: 1/3;
}

form.userActionForm input, 
form.userActionForm label {
  padding: 1rem;
}

span.error {
  color: red;
}

